# Market Data

Se muestra la tabla del precio de cada minuto del S&P 500.

In [1]:
import psycopg2
import pandas as pd

In [5]:
hostname = 'localhost'
database = 'airflow'
username = 'airflow'
pwd = 'airflow'
port_id = 5433

# Conn es un objeto de conexión a la base de datos
try:
    conn = psycopg2.connect(
        host=hostname,
        dbname=database,
        user=username,
        password=pwd,
        port=port_id
    )
    print("Conexión exitosa")

    QUERYGSPC  = "SELECT * FROM market_data.gspc g ORDER BY g.ts DESC;"
    QUERYSP500 = "SELECT * FROM market_data.sp500 g ORDER BY g.ts DESC;"
    
    gspc  = pd.read_sql(QUERYGSPC , conn)
    sp500 = pd.read_sql(QUERYSP500, conn)

    # onn.close() # If you dont close the connection, it could lead to a connection leak. 
    # A connection leak occurs when database connections are not properly closed after their use, leading to exhaustion of available connections. This can result in performance degradation, application errors, and even system crashes as new connection requests are denied due to the lack of available connections. 
    # For example, in a web application, if each user request opens a database connection but fails to close it after the request is completed, over time, the number of open connections can accumulate, eventually reaching the maximum limit set by the database server. This can prevent new users from accessing the application and lead to downtime.
    print("Conexión cerrada")
except Exception as e:
    print(f"Ocurrió un error: {e}")

Conexión exitosa
Ocurrió un error: Execution failed on sql 'SELECT * FROM market_data.gspc g ORDER BY g.ts DESC;': relation "market_data.gspc" does not exist
LINE 1: SELECT * FROM market_data.gspc g ORDER BY g.ts DESC;
                      ^

C:\Users\herie\AppData\Local\Temp\ipykernel_5800\2855237070.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  gspc  = pd.read_sql(QUERYGSPC , conn)

In [25]:
size = pd.read_sql("SELECT pg_size_pretty(pg_database_size('airflow'));", conn)
size

C:\Users\herie\AppData\Local\Temp\ipykernel_19796\3508511971.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  size = pd.read_sql("SELECT pg_size_pretty(pg_database_size('airflow'));", conn)

  pg_size_pretty
0         116 MB

In [ ]:
sp500 = pd.read_sql(QUERYSP500, conn)
sp500

In [34]:
sp500 = pd.read_sql(QUERYSP500, conn)
sp500

C:\Users\herie\AppData\Local\Temp\ipykernel_19796\3058634000.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sp500 = pd.read_sql(QUERYSP500, conn)

,ts,open,high,low,close,volume
0,2025-11-24 19:05:00+00:00,6711.149902,6711.149902,6711.149902,6711.149902,0
1,2025-11-24 19:04:00+00:00,6710.459961,6711.390137,6710.399902,6710.569824,4163000
2,2025-11-24 19:03:00+00:00,6710.830078,6711.209961,6709.950195,6710.470215,4859000
3,2025-11-24 19:02:00+00:00,6709.359863,6711.810059,6709.359863,6710.979980,4979000
4,2025-11-24 19:01:00+00:00,6708.560059,6709.669922,6708.479980,6709.279785,5427000
...,...,...,...,...,...,...
3781,2025-11-11 14:34:00+00:00,6823.330078,6823.439941,6818.759766,6820.359863,7893128
3782,2025-11-11 14:33:00+00:00,6822.359863,6823.319824,6821.370117,6823.220215,7881352
3783,2025-11-11 14:32:00+00:00,6822.060059,6824.209961,6821.310059,6822.299805,13583987
3784,2025-11-11 14:31:00+00:00,6823.359863,6823.359863,6820.080078,6822.129883,10917303
3785,2025-11-11 14:30:00+00:00,6815.640137,6824.069824,6815.640137,6823.990234,0

In [31]:
sp500 = pd.read_sql(QUERYSP500, conn)
sp500

C:\Users\herie\AppData\Local\Temp\ipykernel_19796\3058634000.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sp500 = pd.read_sql(QUERYSP500, conn)

,ts,open,high,low,close,volume
0,2025-11-24 18:55:00+00:00,6709.250000,6709.250000,6709.250000,6709.250000,0
1,2025-11-24 18:54:00+00:00,6708.250000,6708.250000,6708.250000,6708.250000,0
2,2025-11-24 18:53:00+00:00,6707.799805,6708.330078,6707.609863,6708.029785,3185000
3,2025-11-24 18:52:00+00:00,6708.310059,6708.410156,6707.089844,6707.850098,3394000
4,2025-11-24 18:51:00+00:00,6707.810059,6708.509766,6707.220215,6708.200195,3359000
...,...,...,...,...,...,...
3771,2025-11-11 14:34:00+00:00,6823.330078,6823.439941,6818.759766,6820.359863,7893128
3772,2025-11-11 14:33:00+00:00,6822.359863,6823.319824,6821.370117,6823.220215,7881352
3773,2025-11-11 14:32:00+00:00,6822.060059,6824.209961,6821.310059,6822.299805,13583987
3774,2025-11-11 14:31:00+00:00,6823.359863,6823.359863,6820.080078,6822.129883,10917303
3775,2025-11-11 14:30:00+00:00,6815.640137,6824.069824,6815.640137,6823.990234,0

In [22]:
sp500 = pd.read_sql(QUERYSP500, conn)
sp500

C:\Users\herie\AppData\Local\Temp\ipykernel_19796\3058634000.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sp500 = pd.read_sql(QUERYSP500, conn)

,ts,open,high,low,close,volume
0,2025-11-24 17:03:00+00:00,6688.899902,6688.899902,6685.910156,6687.310059,5608000
1,2025-11-24 17:02:00+00:00,6690.379883,6690.379883,6690.379883,6690.379883,0
2,2025-11-24 17:01:00+00:00,6692.109863,6693.279785,6691.470215,6692.299805,4509000
3,2025-11-24 17:00:00+00:00,6689.129883,6693.279785,6689.129883,6692.029785,5750000
4,2025-11-24 16:59:00+00:00,6689.370117,6689.370117,6689.370117,6689.370117,0
...,...,...,...,...,...,...
3659,2025-11-11 14:34:00+00:00,6823.330078,6823.439941,6818.759766,6820.359863,7893128
3660,2025-11-11 14:33:00+00:00,6822.359863,6823.319824,6821.370117,6823.220215,7881352
3661,2025-11-11 14:32:00+00:00,6822.060059,6824.209961,6821.310059,6822.299805,13583987
3662,2025-11-11 14:31:00+00:00,6823.359863,6823.359863,6820.080078,6822.129883,10917303
3663,2025-11-11 14:30:00+00:00,6815.640137,6824.069824,6815.640137,6823.990234,0

In [21]:
sp500

,ts,open,high,low,close,volume
0,2025-11-24 17:02:00+00:00,6690.379883,6690.379883,6690.379883,6690.379883,0
1,2025-11-24 17:01:00+00:00,6692.109863,6693.279785,6691.470215,6692.299805,4509000
2,2025-11-24 17:00:00+00:00,6689.129883,6693.279785,6689.129883,6692.029785,5750000
3,2025-11-24 16:59:00+00:00,6689.370117,6689.370117,6689.370117,6689.370117,0
4,2025-11-24 16:58:00+00:00,6688.500000,6688.640137,6687.000000,6687.819824,11651000
...,...,...,...,...,...,...
3658,2025-11-11 14:34:00+00:00,6823.330078,6823.439941,6818.759766,6820.359863,7893128
3659,2025-11-11 14:33:00+00:00,6822.359863,6823.319824,6821.370117,6823.220215,7881352
3660,2025-11-11 14:32:00+00:00,6822.060059,6824.209961,6821.310059,6822.299805,13583987
3661,2025-11-11 14:31:00+00:00,6823.359863,6823.359863,6820.080078,6822.129883,10917303
3662,2025-11-11 14:30:00+00:00,6815.640137,6824.069824,6815.640137,6823.990234,0

In [17]:
sp500

,ts,open,high,low,close,volume
0,2025-11-24 16:47:00+00:00,6698.250000,6698.250000,6698.250000,6698.250000,0
1,2025-11-24 16:46:00+00:00,6697.500000,6697.500000,6697.500000,6697.500000,0
2,2025-11-24 16:45:00+00:00,6697.660156,6697.660156,6697.660156,6697.660156,0
3,2025-11-24 16:44:00+00:00,6695.790039,6697.470215,6695.790039,6696.410156,4891000
4,2025-11-24 16:43:00+00:00,6695.180176,6695.180176,6695.180176,6695.180176,0
...,...,...,...,...,...,...
3643,2025-11-11 14:34:00+00:00,6823.330078,6823.439941,6818.759766,6820.359863,7893128
3644,2025-11-11 14:33:00+00:00,6822.359863,6823.319824,6821.370117,6823.220215,7881352
3645,2025-11-11 14:32:00+00:00,6822.060059,6824.209961,6821.310059,6822.299805,13583987
3646,2025-11-11 14:31:00+00:00,6823.359863,6823.359863,6820.080078,6822.129883,10917303
3647,2025-11-11 14:30:00+00:00,6815.640137,6824.069824,6815.640137,6823.990234,0

In [16]:
gspc

,ts,open,high,low,close,volume
0,2025-11-19 17:37:00+00:00,6608.790039,6608.790039,6608.790039,6608.790039,0
1,2025-11-19 17:36:00+00:00,6613.089844,6613.089844,6613.089844,6613.089844,0
2,2025-11-19 17:35:00+00:00,6616.810059,6616.810059,6616.810059,6616.810059,0
3,2025-11-19 17:34:00+00:00,6618.290039,6618.290039,6618.290039,6618.290039,0
4,2025-11-19 17:33:00+00:00,6616.919922,6616.919922,6616.919922,6616.919922,0
...,...,...,...,...,...,...
4863,2025-10-31 13:34:00+00:00,6863.620117,6863.819824,6860.839844,6862.779785,13072791
4864,2025-10-31 13:33:00+00:00,6865.839844,6865.950195,6863.509766,6863.859863,13443248
4865,2025-10-31 13:32:00+00:00,6866.430176,6869.660156,6865.540039,6865.540039,18316798
4866,2025-10-31 13:31:00+00:00,6870.529785,6872.379883,6866.750000,6866.890137,16549695
4867,2025-10-31 13:30:00+00:00,6879.169922,6879.169922,6870.109863,6870.109863,0