# Muestra Demo

Se muestra jaja la muestra

In [ ]:
from scripts import actidb

In [5]:
QUERY = "SELECT * FROM muestra.nvda nvda ORDER BY nvda.date;"

In [ ]:
nvda = actidb.fetch(QUERY)

Conexión exitosa
Conexión cerrada

C:\Users\herie\AppData\Local\Temp\ipykernel_32236\2510141324.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  nvda = pd.read_sql(QUERY, conn)

In [7]:
nvda

,date,market_cap,shares_outstanding,best_target,total_buy,total_hold,total_sell,div_yield,ev_ebitda,pe,pb
0,2025-11-16,4.335849e+12,2.466000e+09,963.102,60.0,7.0,0.0,0.0175,64.2218,75.8152,52.4212
1,2025-11-17,4.335849e+12,2.466000e+09,963.102,60.0,7.0,0.0,0.0175,64.2218,75.8152,52.4212
2,2025-11-18,4.335849e+12,2.466000e+09,963.102,60.0,7.0,0.0,0.0175,64.2218,75.8152,52.4212
3,2025-11-19,4.335849e+12,2.466000e+09,963.102,60.0,7.0,0.0,0.0175,64.2218,75.8152,52.4212